/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

@supports (flex-wrap: wrap) {
  .container {
    display: flex;
  }


#print {
  width: in;
  background-color: black;
  color: white;
}

#either {
  -webkit-flex: 1 5in;
  -ms-flex: 1 5in;
  flex: 2 7in;
  
  width: 50%;
  max-width: 100%;
  height: 50vh;
}



.video_1  {
background-image: url("../img/balconies_kill_count.jpg");
background-position: center top;
background-repeat: no-repeat;
background-size: cover;
position: relative;
top: 50%;
margin-top: 0px;
left: 0%;
width: 100%;
text-align: center;
color: white;
font-size: 1.5em;
line-height: 1.6em;
transition: 0.2s ease-out;
-webkit-transition: 0.2s ease-out;

}
.video_2  {
background-image: url("../img/balconies_boys_and_girls.jpg");
background-position: center top;
background-repeat: no-repeat;
background-size: cover;
position: relative;
top: 50%;
margin-top: 0px;
left: 0%;
width: 100%;
text-align: center;
color: white;
font-size: 1.5em;
line-height: 1.6em;
transition: 0.2s ease-out;
-webkit-transition: 0.2s ease-out;
}


.video_3  {
background-image: url("../img/balconies_do_it_in_the_dark.jpg");
background-position: center top;
background-repeat: no-repeat;
background-size: cover;
position: relative;
top: 50%;
margin-top: 0px;
left: 0%;
width: 100%;
text-align: center;
color: white;
font-size: 1.5em;
line-height: 1.6em;
transition: 0.2s ease-out;
-webkit-transition: 0.2s ease-out;
}

.video_4  {
background-image: url("../img/balconies_the_slo.jpg");
background-position: center top;
background-repeat: no-repeat;
background-size: cover;
position: relative;
top: 50%;
margin-top: 0px;
left: 0%;
width: 100%;
text-align: center;
color: white;
font-size: 1.5em;
line-height: 1.6em;
transition: 0.2s ease-out;
-webkit-transition: 0.2s ease-out;
}

#info {
    color: #009caf;
    text-align: right;
    position: absolute;
    top: 8%;
    right: 1%;
    width: 98%;
    display: none;
}

.box, .box--alpha, .box--beta, .box--gamma, .box--delta, .box--epsilon {

margin: 10px;
padding: 10px;
position: relative;
width: 100%;
height: auto;
text-align: right; 
margin-left: 150px;
}

.box--alpha h1 {
  font-size: 2vw;
}

.box--beta h1 {
  font-size: 2vh;
}

.box--gamma h1 {
  font-size: 2vmin;
}

.box--delta h1 {
  font-size: 2vmax;
}

.box--epsilon h1 {
  font-size: calc(16px + 2vw);
}

span {
  font-family: 'Cabin', helvetica, sans-serif;
  position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 0%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.5em;
    line-height: 1.6em;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;


}
#title {
    position: absolute;
    bottom: 2%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    display: none;
}