/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}




#print {
  width: in;
  background-color: black;
  color: white;
}

.colour {
background-color: black;


}

#video_1  {
background-image: url("../img/balconies_kill_count.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
margin-top: 0px;
left: 0%;
text-align: center;
color: white;
font-size: 1.5em;
line-height: 1.6em;
-webkit-transition: 0.2s ease-out;


}
#video_2  {
background-image: url("../img/balconies_boys_and_girls.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
margin-top: 0px;
left: 0%;
text-align: center;
color: white;
font-size: 1.5em;
line-height: 1.6em;

}


#video_3  {
background-image: url("../img/balconies_do_it_in_the_dark.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
margin-top: 0px;
left: 0%;
text-align: center;
color: white;
font-size: 1.5em;
line-height: 1.6em;


}

#video_4  {  
background-image: url("../img/balconies_the_slo.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
margin-top: 0px;
left: 0%;
text-align: center;
color: white;
font-size: 1.5em;
line-height: 1.6em;

}

#info  {
text-align: right;
position: absolute;
right: 0.2%;
width: 60%;
display: none;
padding-top: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgba(27, 30, 45, 0.87);
overflow: hidden;
}

.bandsTown {
padding-top: 50px;
font-size: 1.5em;
}

.bandsTown a{
color: #4A8EDC;

}

.bandsTown span {
}

.vid_text {
position: absolute;
top: 50%;
margin-top: -30px;
left: 0%;
width: 100%;
text-align: center;
color: white;
font-size: 30px;
line-height: 1.6em;
transition: 0.2s ease-out;
-webkit-transition: 0.2s ease-out;
text-transform: uppercase;


}

.vid_text:hover {
text-shadow: 6px 6px 0px rgba(255, 255, 255, 0.2);

}


.btn-outline { 
 border: solid 1px #bbbbbb;    
 font-size: 48px; 
 color: #bbbbbb; 
 background: 0 0; 
 transition: all .3s ease-in-out; 
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active { 
  border: solid 1px #bbbbbb;    
  color: #000; 
  background: #bbbbbb; 
}

.btn-social { 
  display: inline-block; 
  width: 96px; 
  height: 96px; 
  border: 1px solid #bbbbbb; 
  border-radius: 100%; 
  text-align: center; 
  font-size: 48px; 
  line-height: 92px; 
}



.list-inline { 
  padding-left: 0; 
  list-style: none; 
  margin-left: -5px; }

.list-inline > li { 
  display: inline-block;  
  padding-left: 5px; 
  padding-right: 5px; 
}

.social-links { 
  -webkit-animation: fade-in-down 0.9s; 
  animation: fade-in-down 0.9s; 
  -webkit-animation-delay: 0.2s; 
  animation-delay: 0.2s;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* Animations */
@-webkit-keyframes fade-in-down { 0% 
  { opacity: 0; -webkit-transform: translateY(-10px); transform: translateY(-10px); 
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translateY(0); 
    transform: translateY(0); } }
@keyframes fade-in-down { 
  0% { opacity: 0; 
    -webkit-transform: translateY(-10px); 
    transform: translateY(-10px); 
  }
  100% { opacity: 1; 
    -webkit-transform: translateY(0); 
    transform: translateY(0); 
  } 
}

.info {
    text-align: center;
    width: 100%;
    height: auto;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.4em;
    line-height: 1.5em;
    color: rgba(27, 30, 45, 0.87);
    padding-top: 15px;
}


.contact-info  {
text-align: center;
position: relative;
display: block;
width: 100%;
height: auto;
text-transform: uppercase;
letter-spacing: 4px;
font-size: .8em;
line-height: 1.3em;
color: rgba(27, 30, 45, 0.87);
top: 20%;
padding-top: 60px;
padding-bottom: 70px;


}

.contact-text  {

 margin-top: 0px;
 margin-bottom: 0px;
 color: white;
 text-align: center;
 font-size: 15px;
 line-height: 1.3em;

}

.contact-text:hover  {
text-shadow: 6px 6px 0px rgba(155, 155, 255, 0.2);

}

#highlight  {
  text-shadow: 6px 6px 0px rgba(155, 155, 255, 0.2);
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.splash {
text-transform: uppercase;
letter-spacing: 3px;
color: #050708;
margin-top: 25px;
margin-bottom: 25px;
}



.subtext  {
font-size: .8em;

}

.follow  {
width: 100%;
text-align: center;
padding-bottom: 5px;
text-transform: uppercase;

}

